In [1]:
import pandas as pd
import re
from fuzzywuzzy import fuzz, process

# Part 1: load the LOC data and identify non-numeric IDs, storing them separately:

In [2]:
file_path = '/Users/twylazhang/Desktop/Econ_banks_Research/LOC.dta'

# Load the .dta file using pandas read_stata function
loc_df = pd.read_stata(file_path)

loc_df

      source lender_TopRSSDID                   lender_TopName
0        1.0          1003790                 USE CREDIT UNION
1        1.0           100393         FRANKENMUTH CREDIT UNION
2        3.0           100571          DEPARTMENT OF LABOR FCU
3        1.0          1025608               FIRST HAWAIIAN INC
4        3.0          1026801           FREMONT BANCORPORATION
...      ...              ...                              ...
1074     1.0           f96580       EXCEL FEDERAL CREDIT UNION
1075     3.0          f968744                FIRST CHOICE BANK
1076     1.0              f97                              CAP
1077     1.0              f98                     CAPITAL CITY
1078     1.0              f99  CAPITAL CONSULTING SERVICES INC

[1079 rows x 3 columns]

In total, there are 1079 rows of lenders/data

Since there are many credit unions that cannot be matched with either the `fr_report` or `call_report`, we will **separate banks and credit unions**.
- This ensures that only the **DataFrame containing banks** is used for the name matching process.

In [3]:
# Function to identify credit unions based on the presence of "credit union" or "cu"
def is_credit_union(name):
    # Check for "credit union" as a phrase
    if re.search(r'credit union', name, re.IGNORECASE):
        return True
    
    # Check for the word "cu"
    words = re.split(r'\W+', name)
    if 'cu' in [word.lower() for word in words]:
        return True
    
    return False

# Separate credit unions and banks in loc_df based on the name
credit_union_df = loc_df[loc_df['lender_TopName'].apply(is_credit_union)]
bank_df = loc_df[~loc_df['lender_TopName'].apply(is_credit_union)]

In [4]:
bank_df

      source lender_TopRSSDID                   lender_TopName
2        3.0           100571          DEPARTMENT OF LABOR FCU
3        1.0          1025608               FIRST HAWAIIAN INC
4        3.0          1026801           FREMONT BANCORPORATION
5        3.0          1027004                         ZIONS BC
6        1.0          1030040                BANK OF CMRC HOLD
...      ...              ...                              ...
1073     1.0              f96                  CANYON EDGE LLC
1075     3.0          f968744                FIRST CHOICE BANK
1076     1.0              f97                              CAP
1077     1.0              f98                     CAPITAL CITY
1078     1.0              f99  CAPITAL CONSULTING SERVICES INC

[948 rows x 3 columns]

In [5]:
credit_union_df

      source lender_TopRSSDID                  lender_TopName
0        1.0          1003790                USE CREDIT UNION
1        1.0           100393        FRANKENMUTH CREDIT UNION
75       3.0           113777  ADVANCIAL FEDERAL CREDIT UNION
106      1.0           129787   FORT LEE FEDERAL CREDIT UNION
107      1.0           131780             HOPEWELL FEDERAL CU
...      ...              ...                             ...
1059     1.0          f899987       WSSC FEDERAL CREDIT UNION
1065     1.0          f924375  INTEGRITY FEDERAL CREDIT UNION
1067     1.0          f932594         FIRST AREA CREDIT UNION
1070     1.0          f947392        PAINESVILLE CREDIT UNION
1074     1.0           f96580      EXCEL FEDERAL CREDIT UNION

[131 rows x 3 columns]

there are 131 credit unions

# Part2: Name Matching Between FR Report(BHC) and bank_df

## Exact Matching

convert the names of the banks to all lower case in both bank_df and fr_report, then perform an exact match to see how many names match

In [6]:
# Load the call report and FR report
call_df = pd.read_csv('/Users/twylazhang/Desktop/Econ_banks_Research/background/call.csv')
fr_report = pd.read_csv('/Users/twylazhang/Desktop/Econ_banks_Research/background/FR_Report.csv')

# Normalize ID columns in all datasets for consistent integer comparison
#fr_report['id'] = pd.to_numeric(fr_report['id'], errors='coerce').fillna(0).astype(int)
#call_df['id'] = pd.to_numeric(call_df['id'], errors='coerce').fillna(0).astype(int)
#call_df['parent_id'] = pd.to_numeric(call_df['parent_id'], errors='coerce').fillna(0).astype(int)

In [7]:
# Make a copy of the bank_df to avoid SettingWithCopyWarning
bank_df_copy = bank_df.copy()

# Standardize names to all lower case
bank_df_copy.loc[:, 'lender_TopName_lower'] = bank_df_copy['lender_TopName'].str.lower()
fr_report.loc[:, 'name_legal_lower'] = fr_report['name_legal'].str.lower()

# Perform exact matching
matched_names = pd.merge(bank_df_copy, fr_report, left_on='lender_TopName_lower', right_on='name_legal_lower', how='inner')

# Count the number of matches
num_matches = matched_names.shape[0]

# Print the number of matches
print(f"Number of exact matches: {num_matches}")

matched_names[['lender_TopName', 'name_legal']]

Number of exact matches: 75

,lender_TopName,name_legal
0,FREMONT BANCORPORATION,FREMONT BANCORPORATION
1,TRICO BANCSHARES,TRICO BANCSHARES
2,SVB FINANCIAL GROUP,SVB FINANCIAL GROUP
3,M&T BANK CORPORATION,M&T BANK CORPORATION
4,TRUSTCO BANK CORP NY,TRUSTCO BANK CORP NY
...,...,...
70,RBB BANCORP,RBB BANCORP
71,VIRGINIA NATIONAL BANKSHARES CORPORATION,VIRGINIA NATIONAL BANKSHARES CORPORATION
72,OP BANCORP,OP BANCORP
73,AMERICAN EXPRESS COMPANY,AMERICAN EXPRESS COMPANY
74,NATIONAL BANK HOLDINGS CORPORATION,NATIONAL BANK HOLDINGS CORPORATION

only 75 are matched out of 948 lenders in bank_df

In [8]:
fr_report

,id,date,fed_district_code,charter_type,city,country,parent_id,lei,name_legal,name,org_type,fed_regulator,state,name_legal_lower
0,1020180,20171231,9,500,SAINT PAUL,UNITED STATES,0,549300TXP74T8NJZJW60,BREMER FINANCIAL CORPORATION,BREMER FNCL CORP,1,FRS,MN,bremer financial corporation
1,1020201,20171231,7,500,NEW YORK,UNITED STATES,3232316,549300LBOHZ4QSIWU288,HSBC USA INC.,HSBC USA,1,FRS,NY,hsbc usa inc.
2,1020395,20171231,6,500,ANDALUSIA,UNITED STATES,0,254900YBC9ZTMHLVQ556,SOUTHERN NATIONAL CORPORATION,SOUTHERN NAT CORP,1,FRS,AL,southern national corporation
3,1020582,20171231,7,500,WISCONSIN RAPIDS,UNITED STATES,0,0,WOODTRUST FINANCIAL CORP,WOODTRUST FC,1,FRS,WI,woodtrust financial corp
4,1020591,20171231,7,500,SIOUX CITY,UNITED STATES,0,0,"PINNACLE BANCORP, INC.",PINNACLE BC,1,FRS,IA,"pinnacle bancorp, inc."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592,5147115,20171231,10,500,DURANGO,UNITED STATES,0,0,"TIG BANCORP, INC.",TIG BC,1,FRS,CO,"tig bancorp, inc."
4593,5158269,20171231,5,500,SPARTANBURG,UNITED STATES,0,0,CAB FINANCIAL CORPORATION,CAB FC,1,FRS,SC,cab financial corporation
4594,5163003,20171231,12,500,CERRITOS,UNITED STATES,0,54930094NOEN2QWZWW84,FIRST CHOICE BANCORP,FIRST CHOICE BC,1,FRS,CA,first choice bancorp
4595,5163898,20171231,12,500,BURLINGTON,UNITED STATES,0,0,"SAVI FINANCIAL CORPORATION, INC.",SAVI FC,1,FRS,WA,"savi financial corporation, inc."
4596,5170805,20171231,12,500,LAS VEGAS,UNITED STATES,0,0,GBANK FINANCIAL HOLDINGS INC.,GBANK FNCL HOLDS,1,FRS,NV,gbank financial holdings inc.

## Other ways to perform matching since exact matching does not work as well.

#### Standardize the names before matching

In [9]:
# Function to remove punctuation and extra spaces
def remove_punctuation_and_spaces(name):
    name = re.sub(r'[^\w\s]', '', name)  # Remove punctuation
    name = re.sub(r'\s+', ' ', name).strip()  # Remove extra spaces
    return name

# Function to expand common abbreviations
def expand_abbreviations(name):
    abbreviations = {
        "assoc": "association",
        "co": "company",
        "corp": "corporation",
        "inc": "incorporated",
        "ltd": "limited",
        "&": "and"
    }
    for abbr, full in abbreviations.items():
        name = re.sub(r'\b' + abbr + r'\b', full, name)
    return name

# Apply normalization functions
bank_df_copy.loc[:, 'normalized_name'] = bank_df_copy['lender_TopName'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))
fr_report.loc[:, 'normalized_name'] = fr_report['name_legal'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))

In [10]:
bank_df_copy

,source,lender_TopRSSDID,lender_TopName,lender_TopName_lower,normalized_name
2,3.0,100571,DEPARTMENT OF LABOR FCU,department of labor fcu,department of labor fcu
3,1.0,1025608,FIRST HAWAIIAN INC,first hawaiian inc,first hawaiian incorporated
4,3.0,1026801,FREMONT BANCORPORATION,fremont bancorporation,fremont bancorporation
5,3.0,1027004,ZIONS BC,zions bc,zions bc
6,1.0,1030040,BANK OF CMRC HOLD,bank of cmrc hold,bank of cmrc hold
...,...,...,...,...,...
1073,1.0,f96,CANYON EDGE LLC,canyon edge llc,canyon edge llc
1075,3.0,f968744,FIRST CHOICE BANK,first choice bank,first choice bank
1076,1.0,f97,CAP,cap,cap
1077,1.0,f98,CAPITAL CITY,capital city,capital city
1078,1.0,f99,CAPITAL CONSULTING SERVICES INC,capital consulting services inc,capital consulting services incorporated

In [11]:
fr_report

,id,date,fed_district_code,charter_type,city,country,parent_id,lei,name_legal,name,org_type,fed_regulator,state,name_legal_lower,normalized_name
0,1020180,20171231,9,500,SAINT PAUL,UNITED STATES,0,549300TXP74T8NJZJW60,BREMER FINANCIAL CORPORATION,BREMER FNCL CORP,1,FRS,MN,bremer financial corporation,bremer financial corporation
1,1020201,20171231,7,500,NEW YORK,UNITED STATES,3232316,549300LBOHZ4QSIWU288,HSBC USA INC.,HSBC USA,1,FRS,NY,hsbc usa inc.,hsbc usa incorporated
2,1020395,20171231,6,500,ANDALUSIA,UNITED STATES,0,254900YBC9ZTMHLVQ556,SOUTHERN NATIONAL CORPORATION,SOUTHERN NAT CORP,1,FRS,AL,southern national corporation,southern national corporation
3,1020582,20171231,7,500,WISCONSIN RAPIDS,UNITED STATES,0,0,WOODTRUST FINANCIAL CORP,WOODTRUST FC,1,FRS,WI,woodtrust financial corp,woodtrust financial corporation
4,1020591,20171231,7,500,SIOUX CITY,UNITED STATES,0,0,"PINNACLE BANCORP, INC.",PINNACLE BC,1,FRS,IA,"pinnacle bancorp, inc.",pinnacle bancorp incorporated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4592,5147115,20171231,10,500,DURANGO,UNITED STATES,0,0,"TIG BANCORP, INC.",TIG BC,1,FRS,CO,"tig bancorp, inc.",tig bancorp incorporated
4593,5158269,20171231,5,500,SPARTANBURG,UNITED STATES,0,0,CAB FINANCIAL CORPORATION,CAB FC,1,FRS,SC,cab financial corporation,cab financial corporation
4594,5163003,20171231,12,500,CERRITOS,UNITED STATES,0,54930094NOEN2QWZWW84,FIRST CHOICE BANCORP,FIRST CHOICE BC,1,FRS,CA,first choice bancorp,first choice bancorp
4595,5163898,20171231,12,500,BURLINGTON,UNITED STATES,0,0,"SAVI FINANCIAL CORPORATION, INC.",SAVI FC,1,FRS,WA,"savi financial corporation, inc.",savi financial corporation incorporated
4596,5170805,20171231,12,500,LAS VEGAS,UNITED STATES,0,0,GBANK FINANCIAL HOLDINGS INC.,GBANK FNCL HOLDS,1,FRS,NV,gbank financial holdings inc.,gbank financial holdings incorporated

## Fuzzy Matching:

### Explanation:

1. **Fuzzy Matching Function**:
   - `fuzzy_match(row, choices, scorer=fuzz.token_sort_ratio)`: Uses the `fuzzywuzzy` library to perform fuzzy matching on the normalized names with a similarity score threshold of 80.
   - **Fuzzy Matching**: This technique compares strings and evaluates their similarity, even when the strings are not exactly the same. It is useful for matching names that may have slight variations, such as typos, abbreviations, or different spellings. The `fuzz.token_sort_ratio` scorer from the `fuzzywuzzy` library calculates a similarity score between 0 and 100, where a higher score indicates greater similarity.

2. **Function Definition**:
   - The `fuzzy_match` function uses the `fuzzywuzzy` library to find the best match for a given name from a list of choices (`fr_report_names`).
   - It compares each normalized name in `bank_df_copy` to the normalized names in `fr_report` using the `fuzz.token_sort_ratio` scorer, which calculates a similarity score between 0 and 100.

3. **Applying the Function**:
   - The `fuzzy_match` function is applied to each row in `bank_df_copy` using the `.apply()` method.
   - For each row, it returns the best match from `fr_report_names` if the similarity score is above 80. If no match is found with a score above 80, it returns `None`.

4. **Merge Based on Fuzzy Matched Names**:
   - Perform an inner join based on the fuzzy matched names and count the number of matches.
   - Print the number of matches and the matched names for verification.

5. **Find Unmatched Names**:
   - Identify and list names in `bank_df_copy` that do not have matches in `fr_report`.

In [12]:
# Fuzzy Matching Function
def fuzzy_match(row, choices, scorer=fuzz.token_sort_ratio):
    match, score = process.extractOne(row['normalized_name'], choices, scorer=scorer)
    return match if score > 80 else None

# Get unique normalized names from fr_report
fr_report_names = fr_report['normalized_name'].unique()

# Apply fuzzy matching
bank_df_copy['fuzzy_matched_name'] = bank_df_copy.apply(fuzzy_match, axis=1, choices=fr_report_names)

bank_df_copy['fuzzy_matched_name']

2                              None
3       first hawaiian incorporated
4            fremont bancorporation
5                              None
6         bank of commerce holdings
                   ...
1073                           None
1075           first choice bancorp
1076                           None
1077                           None
1078                           None
Name: fuzzy_matched_name, Length: 948, dtype: object

In [13]:
# Merge based on fuzzy matched names
fuzzy_matched_df = pd.merge(bank_df_copy, fr_report, left_on='fuzzy_matched_name', right_on='normalized_name', how='inner')

# Drop duplicates
fuzzy_matched_df = fuzzy_matched_df.drop_duplicates(subset=['lender_TopName', 'name_legal'])

# Count the number of matches after dropping duplicates
num_fuzzy_matches = fuzzy_matched_df.shape[0]

print(f"Number of fuzzy matches after dropping duplicates: {num_fuzzy_matches}")

# Print the matched names for verification
print(fuzzy_matched_df[['lender_TopName', 'name_legal']])

Number of fuzzy matches after dropping duplicates: 283
                   lender_TopName                          name_legal
0              FIRST HAWAIIAN INC                FIRST HAWAIIAN, INC.
1          FREMONT BANCORPORATION              FREMONT BANCORPORATION
2               BANK OF CMRC HOLD           BANK OF COMMERCE HOLDINGS
3                TRICO BANCSHARES                    TRICO BANCSHARES
4             SVB FINANCIAL GROUP                 SVB FINANCIAL GROUP
..                            ...                                 ...
309        WESTSTAR MORTGAGE CORP  FIRST WESTERN MORTGAGE CORPORATION
310      BANKTRUST FINANCIAL CORP        ALERUS FINANCIAL CORPORATION
311                 BRIGHTON BANK                    BRIGHTON BANCORP
312  CALLIDUS CAPITAL CORPORATION       BANKFIRST CAPITAL CORPORATION
313             FIRST CHOICE BANK                FIRST CHOICE BANCORP

[283 rows x 2 columns]

In [14]:
# Find the unmatched names
unmatched_names_loc = bank_df_copy[~bank_df_copy['normalized_name'].isin(fuzzy_matched_df['normalized_name_x'])]
unmatched_names_list = unmatched_names_loc['lender_TopName'].tolist()

print(f"Number of not matched banks in LOC: {len(unmatched_names_list)} out of 948 banks in LOC")

# Print the unmatched names
print("Unmatched names from LOC:")
print(unmatched_names_list)

Number of not matched banks in LOC: 673 out of 948 banks in LOC
Unmatched names from LOC:
['DEPARTMENT OF LABOR FCU', 'ZIONS BC', 'LEARNER FC', 'COMMUNITY BK OF S FL', 'BANK OF MONTREAL', 'BNP PARIBAS', 'ROYAL BANK OF CANADA', 'TORONTODOMINION BANK THE', 'DEUTSCHE BANK AKTIENGESELLSCHAFT', 'TAMPA BAY BKG CO', 'BANCO BILBAO VIZCAYA ARGENTARIA SA', 'GREAT LAKES FNCL RESRCS ESOP', 'GATEWAY BANK FSB', 'UNITY CATHOLIC FCU', 'MUTUAL OF OMAHA INSURANCE COMPANY', 'CREDIT SUISSE GROUP AG', 'FRONT ROYAL FCU', 'CASCADE BC', 'COMMUNITY BANCSHARES EMPLOYEE STOCK OWNERSHIP PLAN', 'H BC LLC', 'SB ONE BANCORP', 'TAYLOR CAP GRP', 'IRONSTONE BANK', 'ALIKAT INV', 'SHORE COMMUNITY BANK', 'FIRST NIAGARA FNCL GROUP', 'TOWER FC', 'SOMERSET HILLS BANK', 'PACIFIC CONTINENTAL CORP', 'METLIFE BANK NA', 'CENTRIX B&TC', 'EMPRESAS JUAN YARUR SPA', 'FNB BC', 'BARCLAYS BANK DELAWARE', 'NORTHRIM BC', '1ST MARINER BANK', 'PREMIER CMRL BC', 'US CENTURY BANK', 'BILTMORE BK OF ARIZONA', 'CLAYTON HC', 'CALWEST BC', 'DCB FC', 'WILSHIRE BC', 'SUNSOUTH BSHRS', 'PACIFIC WEST BANK', 'STONEGATE BANK', 'ANCHOR COMMERCIAL BANK', 'TRIVALLEY BANK', 'BANESCO USA', 'PLAZA BANK', 'LONE STAR BANK', 'NHB HOLD', 'US METRO BK', 'RESERVE FNCL ASSC LLC', 'AVENUE FNCL HOLD', 'WESTERN AZ BC', 'COLLIN BANK', 'HOMEBANCORP', 'GOLDWATER BANK NATIONAL ASSOCIATION', 'TALMER BC', 'CALIFORNIA BANK OF COMMERCE', 'VIRGINIA CMNTY CAP', 'NEW JERSEY COMMUNITY BANK', 'PARKSIDE FNCL', 'TIAA BOARD OF OVERSEERS', 'SWS GRP', 'SILVER QUEEN FS', 'FOX CHASE BC', 'DIRECT MORTGAGE CORPORATION', 'ROCKET MORTGAGE', 'PHH HOME LOANS', 'SIERRA PACIFIC MORTGAGE CO INC', 'SUN WEST MORTGAGE COMPANY INC', 'THE MONEY SOURCE', 'FIRST GUARANTY MORTGAGE CORPORATION', 'TALL CITY BSHRS', 'NEWREZ LLC', '360 MORTGAGE GROUP LLC', 'PACIFIC UNION FINANCIAL LLC', 'FIRST REPUBLIC BANK', 'CAPGEN CAPITAL GROUP VI LLC', 'VIEWPOINT FNCL GRP', 'MP (THRIFT) LLC', 'SP BC', 'SHIRLEY E HICKMAN TR', 'SEFCU SERVICES LLC', 'SWBC MORTGAGE CORPORATION', 'LAPORTE BC', 'PARK CITIES FNCL GRP', 'UBS GROUP AG', 'PRINCE GEORGES COMMUNITY FCU', 'HURON VALLEY BC', 'PUGET SOUND BC', 'PACIFIC WESTERN BANK', 'SLHC TRUST THE', 'MARQUIS BC', 'DIAMOND HTH STOCK COMPANY GP LLC', 'TRANSPORTATION FCU', 'FEDFINANCIAL FCU', 'WASHINGTON GAS LIGHT FCU', 'UKRAINIAN SELFRELIANCE MICHIGA', 'WSECU', 'FRONTIER STATE BANK', 'COLUMBINE FCU', 'GOLDENWEST', 'FDIC FCU', 'KIMBERLY MILAMGIVHAN', 'ONE AMERICAN BANK', '1/0 HOLDCO LLC', 'ACRE HOLDINGS LLC', 'CB LENDING', 'CB&T SYNOVUS', 'CBBC', 'FEDERAL HOME LOAN BANK CHICAGO', 'CBT', 'CDCU', 'CDFI BOND', 'CENCORP', 'CENTAL STATES BANK', 'CENTRAL BANK', 'CIS INFO SERVICES LLC', 'CITADEL', 'CITIZENS BANK & TRUST', 'CITIZENS BANK & TRUST COMPANY', 'CITIZENS STATE BANK', 'CITY NATIONAL BANK', 'CITY OF TALLAHASSEE', 'CJM LB LLC AND JS LB LLC', 'CLEAR FUNDING', 'CLEAR HAVEN INVESTMENT FUND LP', 'AFFILIATE OF CREDIT', 'CLEAR TO CLOSE SOLUTION', 'CMFBV', 'CMG', 'CNL BANK', 'ROYAL BANK OF SCOTLAND GROUP PLC, THE', 'COAST2COAST MORTGAGE LLC', 'COASTAL BANK', 'COASTAL SAVINGS BANK', 'COFED (PROVIDENT FUNDING)', 'AFL', 'COLE MORTGAGE MORTGAGE', 'COMM', 'COMMERCE BANK', 'COMMUNITY CAPITAL', 'COMPEER', 'COMPUTERSHARE LIMITED', 'CONCORD FINANCIAL', 'COOPER RIVER', 'AFR', 'COSTAL BANK', 'CPPIB CREDIT INVESTORS', 'CSC FCU', 'CTB', 'CTIBANK', 'CUSTOMERS BANK OF NEW JERSEY', 'AGATE CAPITAL', 'DCP', 'DEER VALLEY FINANCIAL', 'DELL BUSINESS CREDIT', 'DESERT MESA', 'DIRECT FUNDING LLC', 'FIRST CONTINENTAL REAL ESTATE INVESTMENT TRUST', 'DISCOVER', 'DM CREDIT 2 LLC', 'DNA', 'DOUGLAS CATON', 'DUN AND BRADSTREET', 'ALBINA BANK', 'DUNNLW', 'E2 LENDING', 'EAGLE BANK', 'EARNEST OPERATIONS LLC', 'FIRST GUARANTY MORTGAGE CORPORATION', 'EB', 'EDWARD C YIM', 'ELECTRO', 'ELLINGTON FINANCIAL', 'ALEXANDRA PEREZ', 'EMIGRANT BANK', 'ENTERPRISE BANK', 'EQUIFAX MORTGAGE SOLUTIONS', 'EQUITY LOANS', 'ERIC ENDE', 'ERNESTO ROSTOKER', 'EXCEL MORTGAGE SERVICING INC', 'F', 'F&M BANK', 'FANDM', 'ALIANCE', 'FANNIE MAE', 'FARM & MERCH', 'FARMERS & MERCHANTS STATE BANK', 'FBF', 'FBNLI', 'FCM', 'FIDELITY SAVINGS BANK', 'FIDELITY STATE BANK', 'ALIVIO HOLDINGS LLC', 'FIGURE ASSET FUNDING TRUST I', 'FIR', 'FIRS TRUST BANK', 'FIRST', 'FIRST AMERICAN', 'FIRST BANK', 'FIRST BANK & TRUST', 'FIRST BANK AND TRUST', 'WEDBUSH ASSOCIATES', 'FIRST BANK OF FLORIDA', 'FIRST BANK OF TENNESSEE', '1ST COMMUNITY', 'ALLIANCE CAPITAL BANK', 'FIRST CITIZENS BANK', 'FIRST COMMUNITY', 'FIRST COMMUNITY BANK OF BEDFORD COUNTY', 'FIRST COMMUNITY MORTGAGE', 'FIRST CUSTOMERS BANK OF LONG ISLAND', 'JEFFERIES FUNDING LLC', 'FIRST FEDERAL CREDIT', 'FIRST FEDERAL SAVINGS BANK', 'FIRST FEDERAL SAVINGS BANK OF FLORIDA', 'FIRST FUNDING LLC', 'FIRST MIDWEST', 'ALLIANCE CAPITAL INTERNATIONAL BANK', 'FIRST NATIONAL BANK OF ORRVILLE', 'FIRST NORTHERN BANK', 'FIRST SAVINGS BANK', 'FIRST STATE BANK', 'FIRST STATE BANK OF ILLINOIS', 'FIRST UNITED BANK', 'FIRSTBANK', 'FIRSTBANK DE PUERTO RICO', 'FIRSTMID BANK & TRUST', 'FNBO', 'FNF', 'FORBRIGHT', 'FORETHOUGHT LIFE INSURANCE', 'BLACKSTONE CAPITAL COMPANY', 'FREEDOM MORTGAGE CORP', 'FRISTRUST', 'ALLIANCE REAL ESTATE FINANCIAL SERVICES', 'FROST BANK', 'FUEL LENDING', 'GATEWAY BANK', 'GATEWAY SERVICES GROUP LLC', 'GILLES', 'GINNIE MAE', 'GLOBAL ATLANTIC', 'BLACKROCK FINANICAL MANAGEMENT LP', 'GMH ASSOCIATES INC', 'ALPHA ONE INVESTORS', 'GNGB', 'FREDDIE MAC (FEDERAL HOME LOAN MORTGAGE CORPORATION)', 'GNTY', 'GRAND BANK', 'GRANT POINTE', 'GREAT LAKES BANK & TRUST', 'GREEN MORTGAGE INVESTMENT', 'GREENWICH CAPITAL MARKETS', 'GS LENDING PARTNERS', 'GSAP SERVICER ADVANCES (BARCLAYS AS AGENT) VFN', 'GSTAR BANK', 'ALTAVERA LLC', 'GTE FCU', 'GUARANTEE TRUST', 'GUARANTEED TRUST', 'GUGGENHEIM', 'HARBOR FINANCIAL', 'HARBOUR PORTFOLIO ADVISORS LLC', 'HEADWAY CAPITAL', 'AMERICAN ARMED FORCES MUTUAL AID ASSOCIATION', 'HESA AND REDFIELD (MEZZANINE)', 'HO KIM', 'HOLDING CO OF THE VILLAGES', 'HOME DEPOT', 'HOMESTAR', 'HOMETOWN BANK', 'HOMEWARD RESIDENTIAL CAPITAL', 'HOMEWOOD', 'HORBOWY', 'HORIZON BANK', 'AMERICAN EQUITY BANK', 'HOVNANIAN ENTERPRISES', 'HUBBARD LENDING', 'HYDE PARK BANK', 'ICON RESIDENTIAL MORTGAGE', 'IMPAC FUNDING CORP', 'INCOME FUND', 'BANNER CAPITAL BANK', 'INDY MAC', 'ING LOANS', 'INTERCOUNTY FINANCIAL SERVICES', 'JADE CORAL TRUST', 'JANET GARAY', 'JASON HABALI', 'JEFFERSON BANK', 'FIRST NATIONAL BANK OF TENNESSEE', 'JENKINS & COMPANY', 'JOHN W JACOBI', 'JS LB LLC', 'JUAN CRUZ', 'JVC', 'AMERICAN HOME MORTGAGE SERVICING INC', 'K HOVNANIAN COMPANIES', 'K120A', 'K120B', 'K120C', 'KABBAGE', 'KAWA', 'KEMBA ROANOKE', 'KILPATRICK LIFE INSURANCE CO', 'KKR', 'KNIGHT CAPITAL GROUP', '20 GATES MANAGEMENT LLC', 'AMERICAN HOMEOWNER PRESERVATION', 'KNIGHT MORTGAGE CAPITAL', 'LANCEWOOD CAPITAL', 'LANDMARK COMMUNITY BANK', 'LANDMARK KEY', 'LC PORT B INVESTMENTS LTD', 'LC REO', 'LDC MASTER TRUST', 'LDS', 'LEADBANK', 'LEADENHALL', 'AMERICAN LENDER', 'LEDYARD', 'LENDERS FUNDING', 'LENDERVEND', 'LENDING GROUP LLC', 'LEON COUNTY', 'LEXUS FINANCIAL', 'LH', 'LINCOLNWAY STATE BANK', 'LL PRIVATE LENDING FUND LP', 'AMERICAN NATIONAL BANK', 'LORENA KELLY', 'LS TRUSTEE & CHARLES BENSON TRUSTEE', 'LUCID', 'LUMINATE BANK', 'M&M BANK', 'MAGNETAR STRUCTURED CREDIT FUND', 'MAGNOLIA STATE BANK', 'MAIN STREET BANK', 'MAINE SAV OWNERS', 'AMERICAN SOUTHWEST', 'MAINSTAY', 'MAINSTAY FINANCIAL SERVICES', 'MARATHON SECURED PRIVATE STRATEGIES MASTER FUND II B LP', 'MARQUIS', 'MB FINANCIAL', 'MBANK', 'MBI', 'MBMS', 'MC&H', 'AMERICAN SOUTHWEST MORTGAGE', 'MERCANTILE', 'MERIDIAN BANK', 'METASOUTH', 'MEZZANINE FINANCING', 'MICHELLE BURIDTT', 'MID ATLANTIC CORPORATE FCU', 'MID ATLANTIC FCU', 'MIDAMERICA', 'AMERIFIRST', 'MIDLAND AMERICAN CAPITAL CORPORATION', 'MIDLAND BANK', 'MIDWEST BANK', 'MIDWEST LOAN SOLUTIONS', 'MISSOURI BANK AND TRUST', 'MJB', 'MM BANC OF CALIFORNIA', 'MONITEX FINANCIAL', 'MONROE BANK AND TRUST', 'MONTGOMERY COUNTY FCU', 'AMHERST HOLDINGS LLC', 'MORTGAGE LIQUIDITY SOLUTIONS', 'MORTGAGE OPPORTUNITY GROUP INC', 'MS', 'MS MARINE HOLDINGS', 'MT BANK', 'MT DEBT', 'MWST', 'MY LOAN IS YOUR LOAN LLC', 'MYUSA', 'ANDIGO', 'NAC TRUST', 'NAME OF PROVIDER ALIVIO HOLDINGS LLC', 'NANCY CATON', 'NATALY ROSAMILIA', 'NATIONAL BANK', 'NATIONAL CITY', 'NATIONAL FOUNDERS LP', 'AOL FCU', 'NATIONS DIRECT', 'NAUGATUCK VALLEY SB', 'NCB BANK', 'NE PA COMMUNITY FCU', 'NEARWATER SECURITIES', 'NEFCU', 'NEXTWAVE ENTERPRISES', 'NICKLAUS OF FLORIDA INC', 'AP CAPITAL', 'NJA', 'NJK INVESTMENTS', 'NOIC FUNDING COMPANY LLC', 'NOS', 'NATIONSTAR MORTGAGE', 'NOS OF CREDIT', 'NOT APPLICABLE', 'NSM', 'NVSL', 'NWCC LLC', '9626 FLOWER ST', 'APF', 'O', 'OAKWOOD BANK', 'OLD SECOND BANK', 'ON DECK CAPITAL', 'ONE', 'ONE REVERSE', 'ONE WEST BANK', 'ONSLOW', 'PACIFIC GROUP FINANCIAL', 'PACTRUST BANK', 'ARC', 'PALM HARBOR HOMES INC', 'PARAGON OUTCOMES', 'PARAMOUNT RESIDENTIAL MORGAGE', 'PAUL BALTRUN', 'AMHERST PIERPONT SECURITIES LLC', 'PAVAN AND HARI AGARWAL', 'PCL', 'PDCU', 'PECIFIC PREMIER BANK', 'ARCA NATIONAL BANK', 'PENFEDERAL', 'PEOPLE', 'PEOPLE FINANCIAL BENEFITS LLC', 'PEOPLE SOUTH COUNTY', "PEOPLE'S BANKS", 'ONEMAIN MORTGAGE SERVICES INC', "PEOPLE'S CAPITAL BANK", "PEOPLE'S SOUTH BANK", 'PEOPLES NATIONAL BANK', 'ARCH', 'PEOPLES REPUBLIC', 'ONEMAIN FINANCIAL OF WASHINGTON INC', 'PEOPLES STATE BANK', 'PERSHING LLC', 'PFLOANS', 'PG COMMUNITY FCU', 'PIERPONT FINANCIAL', 'PINNACLE BANK', 'PINNACLE ONE', 'PLATINUM PRIME', 'PPB', 'ARCHOME', 'PPPLF', 'PREFERRED BANK', 'PREMIER PACIFIC BANK', 'PRIVATE', 'PRIVATE EQUITY', 'PROFESSIONAL MORTGAGE ALLIANCE LLC', 'PROMISE', 'PROVIDENT BANK, THE', 'PRUDENTIAL', 'PULTEGROUP INC', 'ARCLIGHT FINANCIAL LLC', 'PURCHASE CLEARING', 'QUANTA', 'QUICKSALE', 'R DAVIS', 'RASBORA LLC', 'RCAP SECURITIES INC', 'REMIC 2010 3 SECURITY', 'RESIDENTIAL ACCEPTANCE CORP', 'RESIDENTIAL CREDIT OPPORTUNITIES II LLC', 'REVERSE MORTGAGE FUNDING', 'ARCLINE LENDING', 'REVOLVING CREDIT', 'RFC', 'BEACH POINT CAPITAL MANAGEMENT, LP', 'RMK', 'ROCKET COMPANIES INC', 'ROCKLAND TRUST', 'ROOSEVELT MANAGEMENT COMPANY LLC', 'NOMURA FINANCIAL HOLDING AMERICA LLC', 'ROSELAND BANK', 'ROSELAND LENDERS', 'RTI LLC', 'S AND T', 'SACHEM MANOR CO INVEST', 'SAND CAPITAL GROUP', 'SBA LOAN', 'SCOTIA BANK', 'SEACOAST BANK', 'SECOND NATIONAL BANK', 'SECURITIES', 'ARIZONA BANK AND TRUST', 'SECURITY NATIONAL LIFE INSURANCE COMPANY', 'SECURITY STATE BANK', 'SERVICELINK HOLDINGS LLC', 'SETPOINT', 'SFI FUNDING CA LLC', 'ONEMAIN FINANCIAL GROUP LLC', 'SHANNON FUNDING LLC', 'SHAP 2018 1 LLC', 'FAYETTE COUNTY BANK', 'SHELLPOINT PARTNERS', 'SHIRLEY NEARY', 'ARTHUR TAIT', 'SIGNATURE BANK', 'SNB', 'SNLIC', 'SONNY JEUNG', 'SOUTH STREET', 'SOUTHERN STAR BANK', 'SOUTHLAND EQUITIES', 'SOUTHWEST', 'SP FUNDING', 'AAA', 'ASAP', 'SPARTAN FINANCIAL PARTNERS', 'SPENCER COLSON', 'SPFC', 'MIZUHO BANK (USA)', 'SPROUT HOLDINGS LLC FKA SPROUT MORTGAGE LLC', 'STAR BANK', 'STATE BANK', 'STATION PLACE', 'STEARNS LENDING LLC', 'ASSET 1 (AFFILIATE)', 'STEVE WACO', 'STOCKHOLDER LOAN', 'STONEGATE MORTGAGE', 'BLACK RIVER TRUST', 'GRAND OAK TRUST', 'SUN INITIATIVE', 'SUNCOAST BANK', 'SUNWEST VIA TEXAS CAPITAL', 'SUNWEST/TEXAS CAPITAL', 'SVP LENDING', 'SYMMETRY', 'Sun West Financial Services International, Inc.', 'ATHENE APOLLO', 'T BANK', 'TALLAHASSEE STATE BANK', 'TAMPA HEIGHTS', 'SUSA FINANCIAL INC DBA FIRST FUNDING INC', 'TEXAS', 'TEXAS BANK', 'TFP INTERNATIONAL INC', 'THE BANK OF TAMPA', 'THE BRAND BANKING COMPANY', 'AVLIS PARTNERS', 'THE COOPERATIVE BANK', 'THE DISTRICT', 'THE HOLDING COMPANY OF THE VILLAGES', 'THE HOME DEPOT', 'WEST ISLAND TRUST', 'THE Z GROUP LLC', 'THEODORA FAMILY TRUST', 'TIPTREE DIRECT HOLDINGS LLC', 'TORO SECURITIES', 'TOURMALET MATAWIN FUND', 'AZTEC GROUP', 'TOWNE MORTGAGE COMPANY', 'TRADE FINANCE SOLUTIONS INC', 'TRADITIONS BANK', 'TRUST BANK', 'U S TREASURY', 'UNION BANK', 'UNION BANK AND TRUST', 'UNION BANK OF CALIFORNIA', 'UNION BANK OF SWITZERLAND', 'BANC CENTRAL', 'UNION FUNDING', 'UNITED BANK', 'UNITED MISSOURI BANK', 'UNITED WHOLESALE MORTGAGE', 'UNITED/RESX', 'UNIVERSITY BANK DBA MLS CAPITAL', 'UNSECURED DEBT', 'UNTIED MORGAGE', 'URBAN BANK & TRUST', 'DUNCAN WILLIAMS, INC.', 'URSUS', 'BANK', 'US TREASURY', 'US TREASURY BOND', 'USA AND GBC', 'VALLEY CAPITAL INVESTMENTS', 'VERISTONE FUND I LLC FKA LIBERTY CAPITAL REAL ESTATE OPPORTUNITY FUND II LLC', 'VISA', 'VISION BANK', 'VLIS LENDING', 'VNB', 'BANK OF NC', 'VP', 'VPB TNBFSBMERIT', 'VRM LENDING INC', 'WAKEFIELD', 'WALLACE CAPITAL GROUP', 'WALTER CROSBY', 'WAREHOUSE LENDING GROUP', 'WATSON REALTY CORP', 'WAYNE WESTLAND FCU', 'WE DO HAVE CREDITS', 'BANK OF SCOTTLAND', 'WEI', 'WEI/ARCH', 'WESTERN AGENCY ONLY', 'WESTERN BANK', 'WESTERN FINANCIAL BANK', 'WHEELERSG', 'WHEREHOUSE', 'WINDSOR CAPITAL', 'GREAT PLAINS BANK', 'BANK OF TENNESSEE', 'WLG FIDELITY BANK', 'WLG/FIDELITY BANK', 'WLS', 'self-financing', 'AAAMCO', 'BANK OF TUSCALOOSA', 'BANK OF UNITED', 'MANHATTAN BANK', 'BANK OF VA', 'BANKALTLANTIC', 'BANKING AND TRUST', 'BANKQUE NATIONAL DE PARIS', 'BARBARA MIROWITZ', 'BARINGS', 'BAWAG', 'AAFMAA MORTGAGE SERVICES LLC', 'BAYVIEW ASSET MANAGEMENT LLC', 'BAYVIEW OPPORTUNITY CORP', 'FIRST NATIONAL BANK OF MANCHESTER', 'BERKSHIRE BANK', 'BETHANY FINANCE', 'HATCH BANK', 'BIZFUND', 'BLUE RIDGE BANK', 'CHURCHILL', 'BMMZ', 'BON', 'BOREAL FUNDING', 'AB', 'BOTS', 'BREAN ASSET BACKED SECURITIES LLC', 'BRIDGE BANK', 'BRIGHT CAPITAL LLC', 'BRISCOEPR', 'NATIONAL BANK OF EARLVILLE', 'BROOKFIELD LIFE ASSURANCE COMPANY LTD', 'PIONEER STATE BANK FKA STATE BANK OF PAW PAW, ILLINOIS', 'BSB', 'BUSINESS BANK', 'BUSINESS FIRST BANK', 'ACB', 'BVRT', 'BXRT FACO', 'CITIZENS STATE BANK (of OKEMAH) DBA AMERICAN SOUTHWEST MORTGAGE FUNDING CORP', 'BXRT SECURITIES', 'CADENCE BANK', 'FIDELITY BANK (MINNESOTA)', 'CALIBER HOME LOANS', 'MECU', 'CANYON EDGE LLC', 'CAP', 'CAPITAL CITY', 'CAPITAL CONSULTING SERVICES INC']

In [15]:
#fuzzy_matched_df.to_csv('LOC_BHC_Name_Matching_Fuzzy.csv', index=False)

# Part 3: Name Matching Between Call Report and bank_df

### Exact Matching

In [16]:
# Make a copy of the bank_df to avoid SettingWithCopyWarning
bank_df_copy_call = bank_df.copy()

# Standardize names to all lower case
bank_df_copy_call.loc[:, 'lender_TopName_lower'] = bank_df_copy['lender_TopName'].str.lower()
call_df.loc[:, 'name_legal_lower'] = call_df['name_legal'].str.lower()

# Perform exact matching
matched_names_call = pd.merge(bank_df_copy_call, call_df, left_on='lender_TopName_lower', right_on='name_legal_lower', how='inner')

# Count the number of matches
num_matches_call = matched_names_call.shape[0]

# Print the number of matches
print(f"Number of exact matches with call report: {num_matches_call}")

matched_names_call[['lender_TopName', 'name_legal']]

Number of exact matches with call report: 376

             lender_TopName              name_legal
0      SHORE COMMUNITY BANK    SHORE COMMUNITY BANK
1    BARCLAYS BANK DELAWARE  BARCLAYS BANK DELAWARE
2         PACIFIC WEST BANK       PACIFIC WEST BANK
3    ANCHOR COMMERCIAL BANK  ANCHOR COMMERCIAL BANK
4               BANESCO USA             BANESCO USA
..                      ...                     ...
371           BRIGHTON BANK           BRIGHTON BANK
372           BRIGHTON BANK           BRIGHTON BANK
373     BUSINESS FIRST BANK     BUSINESS FIRST BANK
374       FIRST CHOICE BANK       FIRST CHOICE BANK
375       FIRST CHOICE BANK       FIRST CHOICE BANK

[376 rows x 2 columns]

For exact matching, 376 are matched out of 948 lenders in bank_df

### Fuzzy Matching

In [17]:
# Apply normalization functions
bank_df_copy_call.loc[:, 'normalized_name'] = bank_df_copy_call['lender_TopName'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))
call_df.loc[:, 'normalized_name'] = call_df['name_legal'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))

# Get unique normalized names from fr_report
call_df_names = call_df['normalized_name'].unique()

# Apply fuzzy matching
bank_df_copy_call['fuzzy_matched_name'] = bank_df_copy.apply(fuzzy_match, axis=1, choices=call_df_names)

bank_df_copy_call['fuzzy_matched_name']

2                    None
3                    None
4                    None
5                    None
6                    None
              ...
1073                 None
1075    first choice bank
1076                 None
1077    capital city bank
1078                 None
Name: fuzzy_matched_name, Length: 948, dtype: object

In [18]:
# Merge based on fuzzy matched names
fuzzy_matched_df_call = pd.merge(bank_df_copy_call, call_df, left_on='fuzzy_matched_name', right_on='normalized_name', how='inner')

# Drop duplicates
fuzzy_matched_df_call = fuzzy_matched_df_call.drop_duplicates(subset=['lender_TopName', 'name_legal'])

# Count the number of matches after dropping duplicates
num_fuzzy_matches_call = fuzzy_matched_df_call.shape[0]

print(f"Number of fuzzy matches with call report after dropping duplicates: {num_fuzzy_matches_call}")

# Print the matched names for verification
print(fuzzy_matched_df_call[['lender_TopName', 'name_legal']])

Number of fuzzy matches with call report after dropping duplicates: 216
                  lender_TopName                  name_legal
0           M&T BANK CORPORATION        LCA BANK CORPORATION
1              OCULINA BANC CORP        LCA BANK CORPORATION
2        VALLEY NATIONAL BANCORP        VALLEY NATIONAL BANK
4      COMMUNITY BANK SYSTEM INC  COMMUNITY TRUST BANK, INC.
5    COMMUNITY TRUST BANCORP INC  COMMUNITY TRUST BANK, INC.
..                           ...                         ...
604          BUSINESS FIRST BANK         FIRST BUSINESS BANK
605                 CADENCE BANK          CADENCE BANK, N.A.
606    FIDELITY BANK (MINNESOTA)        FIRST MINNESOTA BANK
607            FIRST CHOICE BANK           FIRST CHOICE BANK
609                 CAPITAL CITY           CAPITAL CITY BANK

[216 rows x 2 columns]

In [19]:
# Find the unmatched names
unmatched_names_loc_call = bank_df_copy_call[~bank_df_copy_call['normalized_name'].isin(fuzzy_matched_df_call['normalized_name_x'])]
unmatched_names_list_call = unmatched_names_loc['lender_TopName'].tolist()

print(f"Number of not matched banks in LOC with call report: {len(unmatched_names_list_call)} out of 948 banks in LOC")

# Print the unmatched names
print("Unmatched names from LOC with call report:")
print(unmatched_names_list_call)

Number of not matched banks in LOC with call report: 673 out of 948 banks in LOC
Unmatched names from LOC with call report:
['DEPARTMENT OF LABOR FCU', 'ZIONS BC', 'LEARNER FC', 'COMMUNITY BK OF S FL', 'BANK OF MONTREAL', 'BNP PARIBAS', 'ROYAL BANK OF CANADA', 'TORONTODOMINION BANK THE', 'DEUTSCHE BANK AKTIENGESELLSCHAFT', 'TAMPA BAY BKG CO', 'BANCO BILBAO VIZCAYA ARGENTARIA SA', 'GREAT LAKES FNCL RESRCS ESOP', 'GATEWAY BANK FSB', 'UNITY CATHOLIC FCU', 'MUTUAL OF OMAHA INSURANCE COMPANY', 'CREDIT SUISSE GROUP AG', 'FRONT ROYAL FCU', 'CASCADE BC', 'COMMUNITY BANCSHARES EMPLOYEE STOCK OWNERSHIP PLAN', 'H BC LLC', 'SB ONE BANCORP', 'TAYLOR CAP GRP', 'IRONSTONE BANK', 'ALIKAT INV', 'SHORE COMMUNITY BANK', 'FIRST NIAGARA FNCL GROUP', 'TOWER FC', 'SOMERSET HILLS BANK', 'PACIFIC CONTINENTAL CORP', 'METLIFE BANK NA', 'CENTRIX B&TC', 'EMPRESAS JUAN YARUR SPA', 'FNB BC', 'BARCLAYS BANK DELAWARE', 'NORTHRIM BC', '1ST MARINER BANK', 'PREMIER CMRL BC', 'US CENTURY BANK', 'BILTMORE BK OF ARIZONA', 'CLAYTON HC', 'CALWEST BC', 'DCB FC', 'WILSHIRE BC', 'SUNSOUTH BSHRS', 'PACIFIC WEST BANK', 'STONEGATE BANK', 'ANCHOR COMMERCIAL BANK', 'TRIVALLEY BANK', 'BANESCO USA', 'PLAZA BANK', 'LONE STAR BANK', 'NHB HOLD', 'US METRO BK', 'RESERVE FNCL ASSC LLC', 'AVENUE FNCL HOLD', 'WESTERN AZ BC', 'COLLIN BANK', 'HOMEBANCORP', 'GOLDWATER BANK NATIONAL ASSOCIATION', 'TALMER BC', 'CALIFORNIA BANK OF COMMERCE', 'VIRGINIA CMNTY CAP', 'NEW JERSEY COMMUNITY BANK', 'PARKSIDE FNCL', 'TIAA BOARD OF OVERSEERS', 'SWS GRP', 'SILVER QUEEN FS', 'FOX CHASE BC', 'DIRECT MORTGAGE CORPORATION', 'ROCKET MORTGAGE', 'PHH HOME LOANS', 'SIERRA PACIFIC MORTGAGE CO INC', 'SUN WEST MORTGAGE COMPANY INC', 'THE MONEY SOURCE', 'FIRST GUARANTY MORTGAGE CORPORATION', 'TALL CITY BSHRS', 'NEWREZ LLC', '360 MORTGAGE GROUP LLC', 'PACIFIC UNION FINANCIAL LLC', 'FIRST REPUBLIC BANK', 'CAPGEN CAPITAL GROUP VI LLC', 'VIEWPOINT FNCL GRP', 'MP (THRIFT) LLC', 'SP BC', 'SHIRLEY E HICKMAN TR', 'SEFCU SERVICES LLC', 'SWBC MORTGAGE CORPORATION', 'LAPORTE BC', 'PARK CITIES FNCL GRP', 'UBS GROUP AG', 'PRINCE GEORGES COMMUNITY FCU', 'HURON VALLEY BC', 'PUGET SOUND BC', 'PACIFIC WESTERN BANK', 'SLHC TRUST THE', 'MARQUIS BC', 'DIAMOND HTH STOCK COMPANY GP LLC', 'TRANSPORTATION FCU', 'FEDFINANCIAL FCU', 'WASHINGTON GAS LIGHT FCU', 'UKRAINIAN SELFRELIANCE MICHIGA', 'WSECU', 'FRONTIER STATE BANK', 'COLUMBINE FCU', 'GOLDENWEST', 'FDIC FCU', 'KIMBERLY MILAMGIVHAN', 'ONE AMERICAN BANK', '1/0 HOLDCO LLC', 'ACRE HOLDINGS LLC', 'CB LENDING', 'CB&T SYNOVUS', 'CBBC', 'FEDERAL HOME LOAN BANK CHICAGO', 'CBT', 'CDCU', 'CDFI BOND', 'CENCORP', 'CENTAL STATES BANK', 'CENTRAL BANK', 'CIS INFO SERVICES LLC', 'CITADEL', 'CITIZENS BANK & TRUST', 'CITIZENS BANK & TRUST COMPANY', 'CITIZENS STATE BANK', 'CITY NATIONAL BANK', 'CITY OF TALLAHASSEE', 'CJM LB LLC AND JS LB LLC', 'CLEAR FUNDING', 'CLEAR HAVEN INVESTMENT FUND LP', 'AFFILIATE OF CREDIT', 'CLEAR TO CLOSE SOLUTION', 'CMFBV', 'CMG', 'CNL BANK', 'ROYAL BANK OF SCOTLAND GROUP PLC, THE', 'COAST2COAST MORTGAGE LLC', 'COASTAL BANK', 'COASTAL SAVINGS BANK', 'COFED (PROVIDENT FUNDING)', 'AFL', 'COLE MORTGAGE MORTGAGE', 'COMM', 'COMMERCE BANK', 'COMMUNITY CAPITAL', 'COMPEER', 'COMPUTERSHARE LIMITED', 'CONCORD FINANCIAL', 'COOPER RIVER', 'AFR', 'COSTAL BANK', 'CPPIB CREDIT INVESTORS', 'CSC FCU', 'CTB', 'CTIBANK', 'CUSTOMERS BANK OF NEW JERSEY', 'AGATE CAPITAL', 'DCP', 'DEER VALLEY FINANCIAL', 'DELL BUSINESS CREDIT', 'DESERT MESA', 'DIRECT FUNDING LLC', 'FIRST CONTINENTAL REAL ESTATE INVESTMENT TRUST', 'DISCOVER', 'DM CREDIT 2 LLC', 'DNA', 'DOUGLAS CATON', 'DUN AND BRADSTREET', 'ALBINA BANK', 'DUNNLW', 'E2 LENDING', 'EAGLE BANK', 'EARNEST OPERATIONS LLC', 'FIRST GUARANTY MORTGAGE CORPORATION', 'EB', 'EDWARD C YIM', 'ELECTRO', 'ELLINGTON FINANCIAL', 'ALEXANDRA PEREZ', 'EMIGRANT BANK', 'ENTERPRISE BANK', 'EQUIFAX MORTGAGE SOLUTIONS', 'EQUITY LOANS', 'ERIC ENDE', 'ERNESTO ROSTOKER', 'EXCEL MORTGAGE SERVICING INC', 'F', 'F&M BANK', 'FANDM', 'ALIANCE', 'FANNIE MAE', 'FARM & MERCH', 'FARMERS & MERCHANTS STATE BANK', 'FBF', 'FBNLI', 'FCM', 'FIDELITY SAVINGS BANK', 'FIDELITY STATE BANK', 'ALIVIO HOLDINGS LLC', 'FIGURE ASSET FUNDING TRUST I', 'FIR', 'FIRS TRUST BANK', 'FIRST', 'FIRST AMERICAN', 'FIRST BANK', 'FIRST BANK & TRUST', 'FIRST BANK AND TRUST', 'WEDBUSH ASSOCIATES', 'FIRST BANK OF FLORIDA', 'FIRST BANK OF TENNESSEE', '1ST COMMUNITY', 'ALLIANCE CAPITAL BANK', 'FIRST CITIZENS BANK', 'FIRST COMMUNITY', 'FIRST COMMUNITY BANK OF BEDFORD COUNTY', 'FIRST COMMUNITY MORTGAGE', 'FIRST CUSTOMERS BANK OF LONG ISLAND', 'JEFFERIES FUNDING LLC', 'FIRST FEDERAL CREDIT', 'FIRST FEDERAL SAVINGS BANK', 'FIRST FEDERAL SAVINGS BANK OF FLORIDA', 'FIRST FUNDING LLC', 'FIRST MIDWEST', 'ALLIANCE CAPITAL INTERNATIONAL BANK', 'FIRST NATIONAL BANK OF ORRVILLE', 'FIRST NORTHERN BANK', 'FIRST SAVINGS BANK', 'FIRST STATE BANK', 'FIRST STATE BANK OF ILLINOIS', 'FIRST UNITED BANK', 'FIRSTBANK', 'FIRSTBANK DE PUERTO RICO', 'FIRSTMID BANK & TRUST', 'FNBO', 'FNF', 'FORBRIGHT', 'FORETHOUGHT LIFE INSURANCE', 'BLACKSTONE CAPITAL COMPANY', 'FREEDOM MORTGAGE CORP', 'FRISTRUST', 'ALLIANCE REAL ESTATE FINANCIAL SERVICES', 'FROST BANK', 'FUEL LENDING', 'GATEWAY BANK', 'GATEWAY SERVICES GROUP LLC', 'GILLES', 'GINNIE MAE', 'GLOBAL ATLANTIC', 'BLACKROCK FINANICAL MANAGEMENT LP', 'GMH ASSOCIATES INC', 'ALPHA ONE INVESTORS', 'GNGB', 'FREDDIE MAC (FEDERAL HOME LOAN MORTGAGE CORPORATION)', 'GNTY', 'GRAND BANK', 'GRANT POINTE', 'GREAT LAKES BANK & TRUST', 'GREEN MORTGAGE INVESTMENT', 'GREENWICH CAPITAL MARKETS', 'GS LENDING PARTNERS', 'GSAP SERVICER ADVANCES (BARCLAYS AS AGENT) VFN', 'GSTAR BANK', 'ALTAVERA LLC', 'GTE FCU', 'GUARANTEE TRUST', 'GUARANTEED TRUST', 'GUGGENHEIM', 'HARBOR FINANCIAL', 'HARBOUR PORTFOLIO ADVISORS LLC', 'HEADWAY CAPITAL', 'AMERICAN ARMED FORCES MUTUAL AID ASSOCIATION', 'HESA AND REDFIELD (MEZZANINE)', 'HO KIM', 'HOLDING CO OF THE VILLAGES', 'HOME DEPOT', 'HOMESTAR', 'HOMETOWN BANK', 'HOMEWARD RESIDENTIAL CAPITAL', 'HOMEWOOD', 'HORBOWY', 'HORIZON BANK', 'AMERICAN EQUITY BANK', 'HOVNANIAN ENTERPRISES', 'HUBBARD LENDING', 'HYDE PARK BANK', 'ICON RESIDENTIAL MORTGAGE', 'IMPAC FUNDING CORP', 'INCOME FUND', 'BANNER CAPITAL BANK', 'INDY MAC', 'ING LOANS', 'INTERCOUNTY FINANCIAL SERVICES', 'JADE CORAL TRUST', 'JANET GARAY', 'JASON HABALI', 'JEFFERSON BANK', 'FIRST NATIONAL BANK OF TENNESSEE', 'JENKINS & COMPANY', 'JOHN W JACOBI', 'JS LB LLC', 'JUAN CRUZ', 'JVC', 'AMERICAN HOME MORTGAGE SERVICING INC', 'K HOVNANIAN COMPANIES', 'K120A', 'K120B', 'K120C', 'KABBAGE', 'KAWA', 'KEMBA ROANOKE', 'KILPATRICK LIFE INSURANCE CO', 'KKR', 'KNIGHT CAPITAL GROUP', '20 GATES MANAGEMENT LLC', 'AMERICAN HOMEOWNER PRESERVATION', 'KNIGHT MORTGAGE CAPITAL', 'LANCEWOOD CAPITAL', 'LANDMARK COMMUNITY BANK', 'LANDMARK KEY', 'LC PORT B INVESTMENTS LTD', 'LC REO', 'LDC MASTER TRUST', 'LDS', 'LEADBANK', 'LEADENHALL', 'AMERICAN LENDER', 'LEDYARD', 'LENDERS FUNDING', 'LENDERVEND', 'LENDING GROUP LLC', 'LEON COUNTY', 'LEXUS FINANCIAL', 'LH', 'LINCOLNWAY STATE BANK', 'LL PRIVATE LENDING FUND LP', 'AMERICAN NATIONAL BANK', 'LORENA KELLY', 'LS TRUSTEE & CHARLES BENSON TRUSTEE', 'LUCID', 'LUMINATE BANK', 'M&M BANK', 'MAGNETAR STRUCTURED CREDIT FUND', 'MAGNOLIA STATE BANK', 'MAIN STREET BANK', 'MAINE SAV OWNERS', 'AMERICAN SOUTHWEST', 'MAINSTAY', 'MAINSTAY FINANCIAL SERVICES', 'MARATHON SECURED PRIVATE STRATEGIES MASTER FUND II B LP', 'MARQUIS', 'MB FINANCIAL', 'MBANK', 'MBI', 'MBMS', 'MC&H', 'AMERICAN SOUTHWEST MORTGAGE', 'MERCANTILE', 'MERIDIAN BANK', 'METASOUTH', 'MEZZANINE FINANCING', 'MICHELLE BURIDTT', 'MID ATLANTIC CORPORATE FCU', 'MID ATLANTIC FCU', 'MIDAMERICA', 'AMERIFIRST', 'MIDLAND AMERICAN CAPITAL CORPORATION', 'MIDLAND BANK', 'MIDWEST BANK', 'MIDWEST LOAN SOLUTIONS', 'MISSOURI BANK AND TRUST', 'MJB', 'MM BANC OF CALIFORNIA', 'MONITEX FINANCIAL', 'MONROE BANK AND TRUST', 'MONTGOMERY COUNTY FCU', 'AMHERST HOLDINGS LLC', 'MORTGAGE LIQUIDITY SOLUTIONS', 'MORTGAGE OPPORTUNITY GROUP INC', 'MS', 'MS MARINE HOLDINGS', 'MT BANK', 'MT DEBT', 'MWST', 'MY LOAN IS YOUR LOAN LLC', 'MYUSA', 'ANDIGO', 'NAC TRUST', 'NAME OF PROVIDER ALIVIO HOLDINGS LLC', 'NANCY CATON', 'NATALY ROSAMILIA', 'NATIONAL BANK', 'NATIONAL CITY', 'NATIONAL FOUNDERS LP', 'AOL FCU', 'NATIONS DIRECT', 'NAUGATUCK VALLEY SB', 'NCB BANK', 'NE PA COMMUNITY FCU', 'NEARWATER SECURITIES', 'NEFCU', 'NEXTWAVE ENTERPRISES', 'NICKLAUS OF FLORIDA INC', 'AP CAPITAL', 'NJA', 'NJK INVESTMENTS', 'NOIC FUNDING COMPANY LLC', 'NOS', 'NATIONSTAR MORTGAGE', 'NOS OF CREDIT', 'NOT APPLICABLE', 'NSM', 'NVSL', 'NWCC LLC', '9626 FLOWER ST', 'APF', 'O', 'OAKWOOD BANK', 'OLD SECOND BANK', 'ON DECK CAPITAL', 'ONE', 'ONE REVERSE', 'ONE WEST BANK', 'ONSLOW', 'PACIFIC GROUP FINANCIAL', 'PACTRUST BANK', 'ARC', 'PALM HARBOR HOMES INC', 'PARAGON OUTCOMES', 'PARAMOUNT RESIDENTIAL MORGAGE', 'PAUL BALTRUN', 'AMHERST PIERPONT SECURITIES LLC', 'PAVAN AND HARI AGARWAL', 'PCL', 'PDCU', 'PECIFIC PREMIER BANK', 'ARCA NATIONAL BANK', 'PENFEDERAL', 'PEOPLE', 'PEOPLE FINANCIAL BENEFITS LLC', 'PEOPLE SOUTH COUNTY', "PEOPLE'S BANKS", 'ONEMAIN MORTGAGE SERVICES INC', "PEOPLE'S CAPITAL BANK", "PEOPLE'S SOUTH BANK", 'PEOPLES NATIONAL BANK', 'ARCH', 'PEOPLES REPUBLIC', 'ONEMAIN FINANCIAL OF WASHINGTON INC', 'PEOPLES STATE BANK', 'PERSHING LLC', 'PFLOANS', 'PG COMMUNITY FCU', 'PIERPONT FINANCIAL', 'PINNACLE BANK', 'PINNACLE ONE', 'PLATINUM PRIME', 'PPB', 'ARCHOME', 'PPPLF', 'PREFERRED BANK', 'PREMIER PACIFIC BANK', 'PRIVATE', 'PRIVATE EQUITY', 'PROFESSIONAL MORTGAGE ALLIANCE LLC', 'PROMISE', 'PROVIDENT BANK, THE', 'PRUDENTIAL', 'PULTEGROUP INC', 'ARCLIGHT FINANCIAL LLC', 'PURCHASE CLEARING', 'QUANTA', 'QUICKSALE', 'R DAVIS', 'RASBORA LLC', 'RCAP SECURITIES INC', 'REMIC 2010 3 SECURITY', 'RESIDENTIAL ACCEPTANCE CORP', 'RESIDENTIAL CREDIT OPPORTUNITIES II LLC', 'REVERSE MORTGAGE FUNDING', 'ARCLINE LENDING', 'REVOLVING CREDIT', 'RFC', 'BEACH POINT CAPITAL MANAGEMENT, LP', 'RMK', 'ROCKET COMPANIES INC', 'ROCKLAND TRUST', 'ROOSEVELT MANAGEMENT COMPANY LLC', 'NOMURA FINANCIAL HOLDING AMERICA LLC', 'ROSELAND BANK', 'ROSELAND LENDERS', 'RTI LLC', 'S AND T', 'SACHEM MANOR CO INVEST', 'SAND CAPITAL GROUP', 'SBA LOAN', 'SCOTIA BANK', 'SEACOAST BANK', 'SECOND NATIONAL BANK', 'SECURITIES', 'ARIZONA BANK AND TRUST', 'SECURITY NATIONAL LIFE INSURANCE COMPANY', 'SECURITY STATE BANK', 'SERVICELINK HOLDINGS LLC', 'SETPOINT', 'SFI FUNDING CA LLC', 'ONEMAIN FINANCIAL GROUP LLC', 'SHANNON FUNDING LLC', 'SHAP 2018 1 LLC', 'FAYETTE COUNTY BANK', 'SHELLPOINT PARTNERS', 'SHIRLEY NEARY', 'ARTHUR TAIT', 'SIGNATURE BANK', 'SNB', 'SNLIC', 'SONNY JEUNG', 'SOUTH STREET', 'SOUTHERN STAR BANK', 'SOUTHLAND EQUITIES', 'SOUTHWEST', 'SP FUNDING', 'AAA', 'ASAP', 'SPARTAN FINANCIAL PARTNERS', 'SPENCER COLSON', 'SPFC', 'MIZUHO BANK (USA)', 'SPROUT HOLDINGS LLC FKA SPROUT MORTGAGE LLC', 'STAR BANK', 'STATE BANK', 'STATION PLACE', 'STEARNS LENDING LLC', 'ASSET 1 (AFFILIATE)', 'STEVE WACO', 'STOCKHOLDER LOAN', 'STONEGATE MORTGAGE', 'BLACK RIVER TRUST', 'GRAND OAK TRUST', 'SUN INITIATIVE', 'SUNCOAST BANK', 'SUNWEST VIA TEXAS CAPITAL', 'SUNWEST/TEXAS CAPITAL', 'SVP LENDING', 'SYMMETRY', 'Sun West Financial Services International, Inc.', 'ATHENE APOLLO', 'T BANK', 'TALLAHASSEE STATE BANK', 'TAMPA HEIGHTS', 'SUSA FINANCIAL INC DBA FIRST FUNDING INC', 'TEXAS', 'TEXAS BANK', 'TFP INTERNATIONAL INC', 'THE BANK OF TAMPA', 'THE BRAND BANKING COMPANY', 'AVLIS PARTNERS', 'THE COOPERATIVE BANK', 'THE DISTRICT', 'THE HOLDING COMPANY OF THE VILLAGES', 'THE HOME DEPOT', 'WEST ISLAND TRUST', 'THE Z GROUP LLC', 'THEODORA FAMILY TRUST', 'TIPTREE DIRECT HOLDINGS LLC', 'TORO SECURITIES', 'TOURMALET MATAWIN FUND', 'AZTEC GROUP', 'TOWNE MORTGAGE COMPANY', 'TRADE FINANCE SOLUTIONS INC', 'TRADITIONS BANK', 'TRUST BANK', 'U S TREASURY', 'UNION BANK', 'UNION BANK AND TRUST', 'UNION BANK OF CALIFORNIA', 'UNION BANK OF SWITZERLAND', 'BANC CENTRAL', 'UNION FUNDING', 'UNITED BANK', 'UNITED MISSOURI BANK', 'UNITED WHOLESALE MORTGAGE', 'UNITED/RESX', 'UNIVERSITY BANK DBA MLS CAPITAL', 'UNSECURED DEBT', 'UNTIED MORGAGE', 'URBAN BANK & TRUST', 'DUNCAN WILLIAMS, INC.', 'URSUS', 'BANK', 'US TREASURY', 'US TREASURY BOND', 'USA AND GBC', 'VALLEY CAPITAL INVESTMENTS', 'VERISTONE FUND I LLC FKA LIBERTY CAPITAL REAL ESTATE OPPORTUNITY FUND II LLC', 'VISA', 'VISION BANK', 'VLIS LENDING', 'VNB', 'BANK OF NC', 'VP', 'VPB TNBFSBMERIT', 'VRM LENDING INC', 'WAKEFIELD', 'WALLACE CAPITAL GROUP', 'WALTER CROSBY', 'WAREHOUSE LENDING GROUP', 'WATSON REALTY CORP', 'WAYNE WESTLAND FCU', 'WE DO HAVE CREDITS', 'BANK OF SCOTTLAND', 'WEI', 'WEI/ARCH', 'WESTERN AGENCY ONLY', 'WESTERN BANK', 'WESTERN FINANCIAL BANK', 'WHEELERSG', 'WHEREHOUSE', 'WINDSOR CAPITAL', 'GREAT PLAINS BANK', 'BANK OF TENNESSEE', 'WLG FIDELITY BANK', 'WLG/FIDELITY BANK', 'WLS', 'self-financing', 'AAAMCO', 'BANK OF TUSCALOOSA', 'BANK OF UNITED', 'MANHATTAN BANK', 'BANK OF VA', 'BANKALTLANTIC', 'BANKING AND TRUST', 'BANKQUE NATIONAL DE PARIS', 'BARBARA MIROWITZ', 'BARINGS', 'BAWAG', 'AAFMAA MORTGAGE SERVICES LLC', 'BAYVIEW ASSET MANAGEMENT LLC', 'BAYVIEW OPPORTUNITY CORP', 'FIRST NATIONAL BANK OF MANCHESTER', 'BERKSHIRE BANK', 'BETHANY FINANCE', 'HATCH BANK', 'BIZFUND', 'BLUE RIDGE BANK', 'CHURCHILL', 'BMMZ', 'BON', 'BOREAL FUNDING', 'AB', 'BOTS', 'BREAN ASSET BACKED SECURITIES LLC', 'BRIDGE BANK', 'BRIGHT CAPITAL LLC', 'BRISCOEPR', 'NATIONAL BANK OF EARLVILLE', 'BROOKFIELD LIFE ASSURANCE COMPANY LTD', 'PIONEER STATE BANK FKA STATE BANK OF PAW PAW, ILLINOIS', 'BSB', 'BUSINESS BANK', 'BUSINESS FIRST BANK', 'ACB', 'BVRT', 'BXRT FACO', 'CITIZENS STATE BANK (of OKEMAH) DBA AMERICAN SOUTHWEST MORTGAGE FUNDING CORP', 'BXRT SECURITIES', 'CADENCE BANK', 'FIDELITY BANK (MINNESOTA)', 'CALIBER HOME LOANS', 'MECU', 'CANYON EDGE LLC', 'CAP', 'CAPITAL CITY', 'CAPITAL CONSULTING SERVICES INC']

# Part 4: Name Matching Between Credit Union and bank_df

In [20]:
# Load your data here
cu_df = pd.read_excel('/Users/twylazhang/Desktop/Econ_banks_Research/LOC Credit Union Data/THIS_FOICU_Names_ID_excel.xlsx')

# Drop rows with non-finite values in RSSD column
cu_df = cu_df[pd.notnull(cu_df['RSSD'])]

# Ensure RSSD column is integer
cu_df['RSSD'] = cu_df['RSSD'].astype(int)

# Keep only the necessary columns from the credit unions file
cu_df = cu_df[['RSSD', 'CU_NAME']]

In [21]:
# Normalize names
credit_union_df_copy = credit_union_df.copy()
credit_union_df_copy.loc[:, 'normalized_name'] = credit_union_df_copy['lender_TopName'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))
cu_df.loc[:, 'normalized_name'] = cu_df['CU_NAME'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))

# Exact Matching
exact_matched_df_cu = pd.merge(credit_union_df_copy, cu_df, left_on='normalized_name', right_on='normalized_name', how='inner')

num_exact_matches_cu = exact_matched_df_cu.shape[0]
print(f"Number of exact matches: {num_exact_matches_cu}")

exact_matched_df_cu

Number of exact matches: 8

,source,lender_TopRSSDID,lender_TopName,normalized_name,RSSD,CU_NAME
0,3.0,368492,WRIGHTPATT CREDIT UNION INC,wrightpatt credit union incorporated,368492,"WRIGHT-PATT CREDIT UNION, INC."
1,1.0,373795,USF FEDERAL CREDIT UNION,usf federal credit union,373795,USF FEDERAL CREDIT UNION
2,3.0,443193,CREDIT UNION ONE,credit union one,443193,CREDIT UNION ONE
3,1.0,574275,ANDREWS FEDERAL CREDIT UNION,andrews federal credit union,574275,ANDREWS FEDERAL CREDIT UNION
4,1.0,662293,PSE CREDIT UNION INC,pse credit union incorporated,662293,"PSE CREDIT UNION, INC."
5,1.0,f651998,CREDIT UNION ADVANTAGE,credit union advantage,651998,CREDIT UNION ADVANTAGE
6,3.0,f733090,WHITEFISH CREDIT UNION ASSOCIATION,whitefish credit union association,733090,WHITEFISH CREDIT UNION ASSOCIATION
7,1.0,f947392,PAINESVILLE CREDIT UNION,painesville credit union,947392,PAINESVILLE CREDIT UNION

In [22]:
# Normalize names
credit_union_df_copy = credit_union_df.copy()
credit_union_df_copy.loc[:, 'normalized_name'] = credit_union_df_copy['lender_TopName'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))
cu_df.loc[:, 'normalized_name'] = cu_df['CU_NAME'].apply(lambda x: expand_abbreviations(remove_punctuation_and_spaces(str(x).lower())))

# Exact Matching
exact_matched_df_cu = pd.merge(credit_union_df_copy, cu_df, left_on='normalized_name', right_on='normalized_name', how='inner')

# Fuzzy Matching Function
def fuzzy_match(row, choices, scorer=fuzz.token_sort_ratio):
    match, score = process.extractOne(row['normalized_name'], choices, scorer=scorer)
    return match if score > 80 else None

# Get unique normalized names from cu_df
cu_names = cu_df['normalized_name'].unique()

# Apply fuzzy matching
credit_union_df_copy['fuzzy_matched_name'] = credit_union_df_copy.apply(fuzzy_match, axis=1, choices=cu_names)

# Merge based on fuzzy matched names
fuzzy_matched_df_cu = pd.merge(credit_union_df_copy, cu_df, left_on='fuzzy_matched_name', right_on='normalized_name', how='inner')
fuzzy_matched_df_cu = fuzzy_matched_df_cu.drop_duplicates(subset=['lender_TopName', 'CU_NAME'])

# Combine exact and fuzzy matched DataFrames
combined_matched_df_cu = pd.concat([exact_matched_df_cu, fuzzy_matched_df_cu]).drop_duplicates(subset=['lender_TopName', 'CU_NAME'])

# Count the number of matches
num_fuzzy_matches_cu = fuzzy_matched_df_cu.shape[0]
num_combined_matches_cu = combined_matched_df_cu.shape[0]

print(f"Total number of combined matches: {num_combined_matches_cu}")

# Print the matched names for verification
print(combined_matched_df_cu[['lender_TopName', 'CU_NAME']])

# Find the unmatched names
unmatched_names_credit_union = credit_union_df_copy[~credit_union_df_copy['normalized_name'].isin(combined_matched_df_cu['normalized_name_x'])]
unmatched_names_list_cu = unmatched_names_credit_union['lender_TopName'].tolist()

# Print the unmatched names
print("Unmatched names from LOC with Credit Unions:")
print(num_combined_matches_cu)

Number of exact matches: 8
Total number of combined matches: 62
                       lender_TopName                            CU_NAME
0         WRIGHTPATT CREDIT UNION INC     WRIGHT-PATT CREDIT UNION, INC.
1            USF FEDERAL CREDIT UNION           USF FEDERAL CREDIT UNION
2                    CREDIT UNION ONE                   CREDIT UNION ONE
3        ANDREWS FEDERAL CREDIT UNION       ANDREWS FEDERAL CREDIT UNION
4                PSE CREDIT UNION INC             PSE CREDIT UNION, INC.
..                                ...                                ...
54                 ADVIA CREDIT UNION             CREDIT UNION ADVANTAGE
56                       CREDIT UNION                     CREDIT UNION 1
58  EASTPOINTE COMMUNITY CREDIT UNION      COMMUNITY SPIRIT CREDIT UNION
60      SCHOOL EMPLOYEES CREDIT UNION  MACON-BIBB EMPLOYEES CREDIT UNION
61           ONE DETROIT CREDIT UNION          DESTINATIONS CREDIT UNION

[62 rows x 2 columns]
Unmatched names from LOC with Credit Unions:
62

62 out of 131 are matched